.cake
*.swp
*.swo
*.class
*.scsyndef
session
checkouts
autodoc
lib
ext
web
wiki
native
SCClassLibrary
hs*
src/external
\#*#
\.\#*
*.log
*.tmproj
.DS_Store
pom.xml
*.jar
*.aux
*.dvi
.lein-deps-sum
.lein-repl-history
.project
target/
