[submodule "src/lib/midi-clj"]
	path = src/lib/midi-clj
	url = /home/rosejn/projects/midi-clj
[submodule "src/lib/osc-clj"]
	path = src/lib/osc-clj
	url = /home/rosejn/projects/osc-clj
[submodule "src/lib/byte-spec"]
	path = src/lib/byte-spec
	url = /home/rosejn/projects/byte-spec
