[submodule "src/lib/midi-clj"]
	path = src/lib/midi-clj
	url = git://github.com/rosejn/midi-clj.git
[submodule "src/lib/osc-clj"]
	path = src/lib/osc-clj
	url = git://github.com/rosejn/osc-clj.git
[submodule "src/lib/byte-spec"]
	path = src/lib/byte-spec
	url = git://github.com/rosejn/byte-spec.git
[submodule "src/lib/clj-repl"]
	path = src/lib/clj-repl
	url = git://github.com/rosejn/clj-repl.git
[submodule "src/lib/scsynth"]
	path = src/lib/scsynth
	url = git@github.com:rosejn/scsynth.git
[submodule "src/lib/clj-scsynth"]
	path = src/lib/clj-scsynth
	url = git@github.com:rosejn/clj-scsynth.git
