{:deps
 {lambdaisland/open-source {:git/url "https://github.com/lambdaisland/open-source"
                            :sha "b46bd6273c5c554f8374406a7482f6e0a6f1dd25"
                            #_#_:local/root "../open-source"}}}
