{:paths ["src" "resources"]

 :deps
 {overtone/at-at          {:mvn/version "1.4.65"}
  org.clojure/data.json   {:mvn/version "2.5.0"}  ; Freesound
  commons-net/commons-net {:mvn/version "3.10.0"} ; Decode OSC timetag
  javax.jmdns/jmdns       {:mvn/version "3.4.1"}  ; ZeroConf support
  clj-glob/clj-glob       {:mvn/version "1.0.0"} ; overtone.helpers.file/{glob,ls*}
  casa.squid/jack         {:mvn/version "0.2.12"}

  ;; For processes, it supports Windows well and it has some niceties that
  ;; clojure.java.shell doesn't have.
  babashka/process {:mvn/version "0.5.22"}}

 :aliases
 {:test
  {:extra-paths ["test"]}
  :test-runner
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
   :main-opts ["-m" "kaocha.runner"]}
  :1.12 {:extra-deps {org.clojure/clojure {:mvn/version "1.12.0"}}}}}
