{:mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :paths ["src" "test" "./deps.edn"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.1"}
         org.clojure/data.json {:mvn/version "0.2.6"}
         org.clojure/tools.deps.alpha {:mvn/version "0.6.496"}
         net.java.dev.jna/jna {:mvn/version "4.5.0"}
         overtone/ableton-link {:mvn/version "1.0.0-beta1"}
         overtone/scsynth {:mvn/version "3.10.2"}
         overtone/scsynth-extras {:mvn/version "3.10.2"}
         commons-net/commons-net {:mvn/version"3.6"}
         javax.jmdns/jmdns {:mvn/version "3.4.1"}
         clj-glob {:mvn/version "1.0.0"}
         clj-native {:mvn/version "0.9.6-SNAPSHOT"}
         badigeon/badigeon {:git/url "https://github.com/EwenG/badigeon.git"
                            :sha "e7f62a60d8e890fc84a47bcfdd59137e11ff1c95"
                            :tag "0.0.7"}}}
